/* Pagina */
html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 20);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
header {
    width: 100%;
    height: 65px;
    margin-top: -60PX;
    padding-top: 10px;
    background-color: rgb(20, 20, 20);
    position: fixed;
    z-index: 1;
}
main {
    width: 90%;
    margin: 60px auto 15px;
    background-color: rgba(17, 17, 17, 0.5);
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
}
h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 1.8em;
}

/* Cabeçalho */
#logo {
    width: 278px;
    float: left;
}
#logo h1, h2 {
    font-size: 0.9em;
    margin-top: 8px;
}
#logo img {
    float: left;
    margin: 0 10px 0 25px;
    width: 70px;
}

/* Menu */
#topo {
    width: 445px;
    float: right;
    margin-right: 25px;
}
#topo ul li {
    display: inline-block;
}
#topo ul li a {
    padding: 24px 8px;
    font-size: 1.2em;
    letter-spacing: -0.1em;
}
#topo ul li a:hover {
    background-color: #000;
    border-bottom: 3px solid rgb(0, 180, 0); 
    border-radius: 10px 0 10px 0;
    color: rgb(0, 180, 0);
}

/* Fundo SGV */
.svg-container {
    height: 470px;
    width: 100%;
}

polygon {
    fill: #000;
    stroke: #000;
    stroke-width: 40;
    stroke-linejoin: round;
}

/* Campo de texto */
.texto {
    width: 48%;
    float: right;
    margin-top: -370px;
    margin-right: 10%;
    text-align: center;
    position: relative;
}
.texto img {
    width: 15%;
}

/* Home */
#home {
    width: 100%;
    min-height: 560px;
}
#destaque {
    float: left;
    margin-top: 160px;
    margin-left: 40px;
    text-align: center;
    font-size: 1.4em;
}
#destaque h2 {
    clear: left;
}

#pisca {
    animation: animate 1s infinite;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#home img {
    float: right;
    margin: 130px 40px 0 0px;
    width: 38%;
}
#nome, .nome, #pisca {
    float: left;
}

#semscript {
    visibility: hidden;
}

/* Sobre */
#sobre {
    width: 100%;
    min-height: 560px;
}
#principal {
    margin: -450px 0 0 20px;
    position: absolute;
    display: grid;
}
#foto {
    width: 30%;
    border-radius: 50%;
}
#card {
    width: 31%;
    margin-top: 50px;
}

/* Tecnologias */
#tecnologias {
    width: 100%;
    min-height: 560px;
}
.sub_nav {
    position: relative;
    float: left;
    margin-left: 3.5%;
    text-align: center;
    margin-top: -430px;
}
.sub_nav ul li{
    padding: 10px;
    list-style: none;
    font-size: 1.3em;
}
.html, .js, .php, .sql, .c, .python {
    display: none;
}
.sub_nav ul li:hover{
    color: rgb(0, 180, 0);
    cursor: default;
} 

/* Portfólio */
/* Com JavaScript */
#portfolio {
    min-height: 560px;
}

/* Carosel */
div#carousel { 
    perspective: 1200px;
    overflow: hidden; 
}
figure#spinner { 
    transform-style: preserve-3d; 
    height: 380px; 
    transform-origin: 50% 50% -350px; 
    transition: 1s ease-out; 
} 
figure#spinner img { 
    height: 100%;
    position: absolute; 
    left: 26%;
    margin-right: 10px;
    transform-origin: 50% 50% -350px;
    outline:1px solid transparent; 
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(20, 20, 20);
}
figure#spinner img:nth-child(1) { 
    transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { 
    transform: rotateY(-60deg); 
}
figure#spinner img:nth-child(3) { 
    transform: rotateY(-120deg); 
}
figure#spinner img:nth-child(4) { 
    transform: rotateY(-180deg); 
}
figure#spinner img:nth-child(5) { 
    transform: rotateY(-240deg); 
}
figure#spinner img:nth-child(6) { 
    transform: rotateY(-300deg); 
}
div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2em; 
    transition: 0.5s color; 
    position: relative; 
    border-bottom: none; 
    line-height: 0; 
}
div#carousel ~ span:hover { 
    color: rgb(0, 180, 0); 
    cursor: pointer; 
}
/* Fim do Carosel */

/* Portfólio */
/* Sem JavaScript */
#janela {
    width: 100%;
    margin: 40px 12px auto;
}
.janela_site {
    position: relative;
    float: left;
    width: 270px;
    height: 279px;
    border: solid 5px #000;
    background-color: #1A1A1A;
    margin: 0 20px 50px 0;
    box-shadow: 2px 2px 2px #333;
}
.janela_foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    clip:rect(0 270px 279px 0);
    clip-path: inset(0);
}
.janela_foto img {
    width: 100%;
}
.janela_texto {
    position: absolute;
    top: 245px;
    left: 0;
    width: 260px;
    height: 279px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.janela_texto h4 {
    font-size: 18px;
    margin: 0;
}
.janela_texto p {
    font-size: 14px;
}
.janela_texto:hover {
    top: 150px;
}
.aviso{
    text-align: center;
}
.aviso a {
    color: rgb(0, 180, 0);
    text-decoration: underline;
}

/* Contato */
#contato {
    width: 100%;
    min-height: 560px;
}
.sub_nav img{
    margin-right: 10px;
    height: 25px;
}

/* Formulário de E-Mail */
#mail {
    width: 450px;
    margin-top: -470px;
    margin-right: 8%;
    position: relative;
    float: right;
    text-align: center;
}
#mail h4 {
    font-size: 1.5em;
}
form {
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    margin-top: -20px;
}
form input, textarea {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    background: transparent;
    border: 2px solid rgb(0, 180, 0);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    color: white;
}
form textarea {
    height: 100px;
    resize: none;
    padding-top: 10px;
}

/* Animação das label */
label {
    background-color: #000;
    position: absolute;
    left: 125px;
    padding: 2px;
    transition: 0.5s ease-out;
    cursor: default;
}

#lbl_nome{
    top: 21px;
}
#nome:focus ~ #lbl_nome, #nome:hover ~ #lbl_nome {
    top: 5px;
    left: 115px;
    font-size: 0.8em;
}

#lbl_mail {
    top: 76px;
}
#email:focus ~ #lbl_mail, #email:hover ~ #lbl_mail {
    top: 59px;
    left: 115px;
    font-size: 0.8em;
}

#lbl_mensagem {
    top: 130px;
}
#mensagem:focus ~ #lbl_mensagem, #mensagem:hover ~ #lbl_mensagem {
    top: 113px;
    left: 115px;
    font-size: 0.8em;
}
/* Fim da animação das label */

#enviar {
    width: 100px;
    position: absolute;
    top: 240px;
    left: 190px;
    background-color: rgb(0, 180, 0);
    border: 2px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 0.8em;
}

/* Rodapé */
footer {
    width: 100%;
    height: 40px;
    font-size: 0.75em;
    text-align: center;
    padding: 5px;
}